@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f4e3;
  font-family: 'MedievalSharp', cursive;
  color: #4b3621;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem 0;
  color: #3e2c1c;
  text-shadow: 1px 1px #d8c292;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 44px;
  padding: 2rem;
  background: linear-gradient(to bottom, #f8f4e3, #e5d8b0);
  border: 4px solid #a68b5b;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}